.CorFundo1 {
        background-color: gray;
          }
.Strongsize{
    font-size: large;
}
#CreditosC {
    color: red;
}
#CreditosH {
       color: black;
}
#CreditosG {
       color: black; 
} 
p {
    color: black;
}         